*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    height: 100vh;
    width: 100%;
}


/* navbar styling */
header{
    background-color:  #900C3F;
    height: 66px;
}
header *{
    color: white;
}
header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
}
header .logo-text{
    margin: 10px;
    font-family: 'Candal', sans-serif;
}
header .logo-text span{
    color: #f886b2;
}
header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;

}
header ul li{
    float: left;
}
header ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
    margin-right: 22px;
    text-transform: uppercase;
    font-family:  'Merriweather Sans', sans-serif;
    font-weight: 700;
}
header ul li a:hover {
     background-color: #750530;
     transition: 0.5s;
}
header .menu-toggle{
    display: none;
}


.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}
.contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}
.left{
    height: 100%;
}
.right{
    padding: 25px 40px;
}
img{
    width: 100%;
    height: 70vh;
}
h2{
    font-size: 1.8rem;
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
    font-family: 'Candal', sans-serif;
    color: #900C3F;
}
.field{
    width: 100%;
    border: 2px solid rgba(0,0,0,0);
    outline: none;
    background-color: rgba(230,230,230,0.6);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-bottom: 22px;
    transition: .3s;
}
.btn{
        border: none;
        border-radius: 2rem;
        padding: 1rem 3rem;
        font-size: 1rem;
        font-family: 'Candal', sans-serif;
        color: white;
        cursor: pointer;
        background-color: #900C3F;
    }
.btn:hover{
        background-color: #f886b2;
        border: 2px solid black;
        color: #000;
}

.footer{
    background: #610427;
    color: #fff  !important;
    padding: 2rem;
    text-align:center;
    margin-top: 80px;
 }
 
 .social-media-links i{
     margin: 2rem;
 }
 .social-media-links i:hover{
     background-color: #f886b2;
 }
 /* footer ends*/